@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,500,800");
html,body{
  width: 100%;
  height: 100%;
  background: #FFF;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.main-wrapper{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
.main-wrapper .calculator-widget-wrapper{
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  flex: 1;
  border: solid 2px #CCC;
  box-sizing: border-box;
  background: #FFF;
  border-radius: 10px;
}
.calculator-widget-wrapper .input-screen{
  display: inherit;
  width: 100%;
  flex: 2;
}
.input-screen input.screen{
  display: inherit;
  color: #27ae60;
  font-size: 2.5em;
  background: transparent;
  border: none;
  width: 100%;
  text-align: right;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
}
input.screen::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #27ae60;
}
input.screen::-moz-placeholder { /* Firefox 19+ */
  color: #27ae60;
}
input.screen:-ms-input-placeholder { /* IE 10+ */
  color: #27ae60;
}
input.screen:-moz-placeholder { /* Firefox 18- */
  color: #27ae60;
}
input.screen:focus{
  outline: none;
}
.calculator-widget-wrapper .buttons-wrapper{
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 8;
  width: 100%;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}
.buttons-wrapper .single-button{
  width: 23%;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
}
.final-button{
  width: 75% !important;
}
.size-increase{
  font-weight: bolder !important;
}
.ghost_div{
  width: 23%;
  height: 0;
  padding: 0;
}
.buttons-wrapper .single-button .button{
  background: #2ecc71;
  color: #FFF;
  font-size: 1.5em;
  padding: 0.75em 0;
  border: none;
  border-bottom: #27ae60 solid 5px;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  transition: all 1s ease-in-out;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
}
.single-button .button:focus{
  outline: none;
}
.single-button .button:hover{
  background: #1abc9c;
  border-color: #16a085;
}
.button-clicked{
  border-bottom-width: 1px !important;
}
/* MEDIA QUERIES*/
/* Larger than tablet */
@media (min-width: 750px) {
  .main-wrapper .calculator-widget-wrapper{
    width: 30%;
    flex: none;
  }
}
