html,body{
  width: 100%;
  height: 100%;
  background: #FFF;
  margin: 0;
  padding: 0;
}
.main-wrapper{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
.main-wrapper .calculator-widget-wrapper{
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 30%;
  border: solid 2px #CCC;
  box-sizing: border-box;
  background: #FFF;
  border-radius: 10px;
}
.calculator-widget-wrapper .input-screen{
  display: inherit;
  width: 100%;
  flex: 2;
}
.input-screen input.screen{
  display: inherit;
  flex:1;
  color: #27ae60;
  font-size: 3.5em;
  background: transparent;
  border: none;
  width: 100%;
  text-align: right;
}
input.screen:focus{
  outline: none;
}
.calculator-widget-wrapper .buttons-wrapper{
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 8;
  width: 100%;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}
.buttons-wrapper .single-button{
  width: 23%;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
}
.final-button{
  width: 75% !important;
}
.size-increase{
  font-weight: bolder !important;
}
.ghost_div{
  width: 23%;
  height: 0;
  padding: 0;
}
.buttons-wrapper .single-button .button{
  background: #2ecc71;
  color: #FFF;
  font-size: 1.5em;
  padding: 0.75em 0;
  border: none;
  border-bottom: #27ae60 solid 5px;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.single-button .button:focus{
  outline: none;
}
.button-clicked{
  border-bottom-width: 1px;
}
